.header-socialNetworks{
    background-color: #00bff0;
    color: white;
    height: 40px;
    overflow: hidden;
}

.header-socialNetworks-container {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header-socialNetworks-container div {
    filter: opacity(80%);
    display: flex;
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 13px;
    flex-basis: 150px;
}

.header-socialNetworks-container img {
    width: 15px;
    height: 14px;
}


.header-socialNetworks-container p {
    font-size: 12px;
    margin-left: 10px;
}

.header-socialNetworks ul {
    list-style: none; 
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-socialNetworks ul img {
    width: 20px;
    height: 20px;
}


.header-socialNetworks ul li:not(:last-child){
    margin-right: 13px;
}

.header-socialNetworks ul li:last-child{
    margin-right: 11px;
}

.header-menu{
    background-color: #54d8f0;
    height: 100px;
    overflow: hidden;
}

.header-menu-container{
    max-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-container img{
    width: 128px;
    height: 31px;
    margin-left: 10px;
}

.header-menu-container nav ul {
    list-style: none; 
    display: flex;
    max-width: 800px;
    justify-content: flex-end;
    margin-right: 60px;
}

.header-menu-container-list {
    color: white !important;
}

.checked{
    box-shadow: 0 0 4px 2px white !important;
}

.header-menu-container-bar{
    display: none !important;
    width: 170px;
}

.header-menu-container-bar-item{
    height: inherit !important;
}

.header-menu-container-bar-item span{
    font-size: 18px !important;
    color: white !important;
    padding: 0 !important;
}

@media(max-width: 825px ){
    .header-menu-container {
        justify-content: center;
        flex-direction: row-reverse;
    }

    .header-menu-container img {
        margin: auto;
    }

    

    .header-menu-container nav ul {
        display: none;
    }

    .header-menu-container-bar{
        display: flex !important;
        align-content: center !important;
    }

    .Head-table {
        display: none;
    }
    

}

@media (max-width: 395px){
    .header-socialNetworks{
        height: 60px;
    }

    .header-socialNetworks-container {
        justify-content: space-around;
        align-content: space-between;
    }

    .header-socialNetworks-container div {
        margin-top: 5px;
    }

    .header-menu-container {
        justify-content: flex-end;
    }

    .header-menu-container img {
        
        margin-left: 3px;
    }
}



.Head-table {
    background-color: #b7b7b7;
    height: 300px;
    border-bottom: solid 10px #00bff0; 
}

.Head-table-container {
    max-width: 1170px;
    margin: auto;
    
}

.Head-table-container-item {
    background-color: #00bff0;
    width: 200px;
    height: 50px;
    position: absolute;
    top: 390px;
    display: flex;
    justify-content: center;
}

.Head-table-container-item div {
    color: white;
    font-size: 25pt;
    margin-top: 7px;
}

.Timetable {
    background-color: #f3f3f3;
}

.Timetable-container {
    max-width: 1170px;
    margin: auto; 
}

.Timetable-container-menu {
    list-style: none; 
    display: flex;
    height: 125px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.Timetable-container-menu-list {
    color: #00bff0 !important;
}

.checkedItem {
    box-shadow: 0 0 4px 2px #00bff0 !important;
}

.Timetable-container-menu-list span {
    font-size: 18pt !important;
    font-weight: 300 !important;
}

.Timetable-container-table { 
    display: flex;
    flex-direction: column;

}

.Timetable-container-table ul {
    list-style: none;
    display: flex;
}

.Timetable-container-table ul li {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Timetable-container-table ul li:first-child {
    min-width: 150px;
    background-color: #99e5f9;
    color: white;
}

.Timetable-container-table ul li:not(:first-child) {
    min-width: 145px;
}

.Timetable-container-table ul:not(:first-child) li:nth-child(even) {
    background-color: white;
}

.Timetable-container-table ul:not(:first-child) li:not(:first-child):nth-child(odd) {
    background-color: #f2fcfe;
}

.Timetable-container-table ul:not(:first-child) li:not(:first-child){
    border-bottom: solid 1px #00c0f079;
    height: 99px !important;
}


.Timetable-container-table ul li[name="Aerobics"] {
    color: #d15d5d;
}

.Timetable-container-table ul li[name="Crosfit"] {
    color: #60ca50;
}

.Timetable-container-table ul li[name="Boxing"] {
    color: #14a1cc;
}

.Timetable-container-table ul li[name="Kik Boxing"] {
    color: #75b4ab;
}

.Timetable-container-table ul li[name="Pilates"] {
    color: #e368ee;
}

.Timetable-container-table ul li[name="Spinning"] {
    color: #0c0f00;
}

.days {
    color: #00bff0;
}

.days li:first-child {
    background-color: #00c0f085 !important;
}

.days li:nth-child(odd) {
    background-color: #9be3fdb6;
}

.days li:nth-child(even) {
    background-color: #c7ecfb;
}