.header-socialNetworks{
    background-color: #00bff0;
    color: white;
    height: 40px;
    overflow: hidden;
}

.header-socialNetworks-container {
    max-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header-socialNetworks-container div {
    filter: opacity(80%);
    display: flex;
    max-width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 13px;
    flex-basis: 150px;
}

.header-socialNetworks-container img {
    width: 15px;
    height: 14px;
}


.header-socialNetworks-container p {
    font-size: 12px;
    margin-left: 10px;
}

.header-socialNetworks ul {
    list-style: none; 
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.header-socialNetworks ul img {
    width: 20px;
    height: 20px;
}


.header-socialNetworks ul li:not(:last-child){
    margin-right: 13px;
}

.header-socialNetworks ul li:last-child{
    margin-right: 11px;
}

.header-menu{
    background-color: #54d8f0;
    height: 100px;
    overflow: hidden;
}

.header-menu-container{
    max-width: 1170px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu-container img{
    width: 128px;
    height: 31px;
    margin-left: 10px;
}

.header-menu-container nav ul {
    list-style: none; 
    display: flex;
    max-width: 800px;
    justify-content: flex-end;
    margin-right: 60px;
}

.header-menu-container-list {
    color: white !important;
}

.checked{
    box-shadow: 0 0 4px 2px white !important;
}

.header-menu-container-bar{
    display: none !important;
    width: 170px;
}

.header-menu-container-bar-item{
    height: inherit !important;
}

.header-menu-container-bar-item span{
    font-size: 18px !important;
    color: white !important;
    padding: 0 !important;
}

@media(max-width: 825px ){
    .header-menu-container {
        justify-content: center;
        flex-direction: row-reverse;
    }

    .header-menu-container img {
        margin: auto;
    }

    

    .header-menu-container nav ul {
        display: none;
    }

    .header-menu-container-bar{
        display: flex !important;
        align-content: center !important;
    }
    

}

@media (max-width: 395px){
    .header-socialNetworks{
        height: 60px;
    }

    .header-socialNetworks-container {
        justify-content: space-around;
        align-content: space-between;
    }

    .header-socialNetworks-container div {
        margin-top: 5px;
    }

    .header-menu-container {
        justify-content: flex-end;
    }

    .header-menu-container img {
        
        margin-left: 3px;
    }

    
}


